body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #23b5b5;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .topnav-right {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
  }
  
  .margin_top
  {
      margin-top: 100px;
  }
  .container .row h1
  {
      font-weight: 600;
  }
  
  .container .row h3
  {
      font-weight: 600;
      font-size: 23px;
  }
  
  .container .row p
  {
      font-size: 14px;
      color:  #23b5b5;
  }
  
  .search_button
  {
      background-color:  #23b5b5;
  
  }
  
  .container .row .text p
  {
      font-size: 14px;
      color:  black;
  }
  
  .container .row .text h4
  {
      font-size: 18px;
      color:  black;
      margin-left: 25px;
  }
  
  .container .row .text h6
  {
      font-size: 14px;
      color:  rgb(172, 172, 172);
      margin-left: 25px;
  }
  
  .row ul
  {
      list-style-type:none;
      /* font-weight: bold; */
  }
  
  .row.footer {
      height: 100%;
      background-color: black;
  }
  
  .row.footer h4 {
     
      color: white;
      margin-left: 42px;
      margin-top: 20px;
      font-size: 15px;
      font-weight: bold;
  }
  
  .row.footer h3 {
     
     color: white;
     margin-top: 70px;
     margin-left: 15px;
     font-size: 35px;
  }

  .row.footer .reviews {
     
    color: #cacaca;
    margin-top: -4px;
    margin-left: 15px;
    font-size: 15px;
 }

 .row.footer p {
     
    color: #cacaca;
    margin-top: -4px;
    margin-left: 15px;
    font-size: 15px;
 }


  .row.footer .bold {
    
    font-weight: bold;
    color: white;
    margin-top: -20px;
    margin-left: 15px;
    font-size: 35px;
 }

 .checked {
    color: orange;
  }

  .rating
  {
      margin-left: 15px;
  }

  .bg-img
  {
        opacity: 0.7;
  }

  .centered {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-2 {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered h1 {
    font-weight: 700;
    color: white;
    text-shadow: 1px 2px black;
  }

  .menu-image-1
  {
    width: 80%;
    height: 350px;
    margin-top: 60px;
    /* margin-left: 130px; */
  }

  .menu-image-2
  {
    width: 100%;
    height: 90%;
    margin-top: 35px;
  }

  .menu-image-3
  {
    width: 100%;
    height: 350px;
    margin-top: 35px;
  }

  .menu-list
  {
    list-style-type: disc !important;
    font-weight: normal !important;
    font-size: 14px;
  }

  .dark-blue
  {
    color: #141498;
  }

  .black
  {
    color: black !important;
  }
  
  .grey
  {
    color: grey !important;
  }

  .white
  {
    color: white !important
    ;
  }

  .bg-img-2
  {
    width: 100%;
    height: 100%;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    height: 44px ;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    height: 44px ;

    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    height: 44px ;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
  }

  .textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  .select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 44px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }


  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    height: 44px ;

    border-radius: 30px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 44px ;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    height: 44px ;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #23b5b5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #23b5b5;
  }

  .register-button
  {
    width: 100%;
    background-color: #23b5b5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .register-button:hover{
    background-color: #23b5b5;

  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  

  .sky-blue
  {
    color: #23b5b5;
 
  }

  .white
  {
    color: white;

  }

  .justify-image
  {
    justify-content: flex-end;
  }

  
  /* login/register pages */
  .hero-image {
    background-image: url("../images/background-4.jpg");
    opacity: 0.7;
    background-color: #cccccc;
    height: 990px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }


  /* 2nd login/register pages */
  .hero-image-2 {
    background-image: url("../images/background-2.jpg");
    opacity: 0.8;
    background-color: #cccccc;
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .hero-text-2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  /* choose type of shoot page */

  .hero-text-8 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }


    /* 3rd login/register pages */
    .hero-image-3 {
      background-image: url("../images/background-3.jpg");
      background-color: #cccccc;
      height: 1400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    
    .hero-text-3 {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }

    /* login frame*/
    .hero-image-4 {
      background-image: url("../images/background-5.jpg");
      background-color: #cccccc;
      height: 900px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    
    .hero-text-4 {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }


      /* Over ZookeenProf PAGE */
    .hero-image-5 {
      background-image: url("../images/background-6.jpg");
      opacity: 0.8;
      background-color: #cccccc;
      height: 350PX;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    
    .hero-text-5 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      color: white;
      text-shadow: 1px 2px black;
    }

    /* Registration page */
    .hero-image-6 {
      background-image: url("../images/background-7.jpg");
      opacity: 0.8;
      background-color: #cccccc;
      height: 350PX;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    
    .hero-text-6 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      color: white;
      text-shadow: 1px 2px black;
    }
    
    .line span { display:block; width:12%; float:left; height:5px;}
    .line{
        width:100%;
    }
    .color-fill{
        background:#23B5B5;
    }
    .color-unfill{
        background:#DDDDDD;
    }
    


    /* The custom-checkbox */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #111B95;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.bold
{
  font-weight: bold;
}

    @media screen and (max-width: 667px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    
    
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      float: right;
      margin-top: 20px;
      margin-right: 50px;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }


    .box_root__31i08.box_videoBox__3bSvS {
      padding: 0;
      line-height: 1;
      overflow: hidden;
  }

  .box_root__31i08 {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 22px 0 rgba(49,54,103,.15);
    background-color: #fff;
    padding: 41.1px 22px;
}

    
  }
  @media screen and (max-width: 991px) {
    

    .justify-items-at-992 {
      text-align: center;
      display: flex;
  justify-content: center;
      
    }

    .justify-text-at-992 {
      text-align: center !important;
      float: none !important;
      
    }

    .img-width-at-992
    {
      width: 260px !important;
    }


  }

  @media screen and (max-width: 768px) {
    
    .justify-items-at-768 {
      text-align: center;
      
    }

    .img-display-none-at-768
    {
      display: none !important;
    }

    .justify-image
    {
      justify-content: center;
    }

    .footer-at-768
    {
      margin-left: 28px;
    }
  }
  
  